<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>同学你好，你 HTML 课程的登录</p>
  <p>账号：<%= @user.email %> </p>
  <p>密码：<%= @user.random_pass %></p>
  <p>请尽快到 <a href="http://121.42.198.160/" target="_blank">项目展示平台</a> 上传你的项目。</p>
  <p>-- 无需回复该邮件 --</p>
</body>
</html>