<div class="cd-user-modal-container">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'cd-form' }) do |f| %>
    <%= devise_error_messages! %>

    <h2>修改密码</h2>
    <div class="fieldset">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'full-width has-padding has-border' %>
    </div>

    <div class="fieldset">
      <%= f.submit "修改密码", class: 'full-width has-padding has-border' %>
    </div>
  <% end %>

</div>