<h1>上传规范</h1>
<h4>1. 将你的所有文件统一放到以学号(如：13108319)命名的文件夹下，再进行打包。而且学号文件夹下需要有 index.html 命名的首页。</h4>
<h4>2. 打包的文件必须以 zip 为后缀，并以学号命名。</h4>
<h4>3. 上传的时候请详细填写表单上的所有内容。</h4>
<h4>提醒：</h4>
<h4>1. 请注意文件的命名方式，推荐全部使用英文，以防止乱码对您的网站浏览造成影响。</h4>
<h4>2. 请将网站的内部链接改成相对链接，以免造成错误。</h4>
<h4>3. 压缩文件大小不要超过 5M，图片最好压缩一下，不然到时候加载会很慢。请去<a href="https://tinypng.com/" target="_blank">图片压缩网站</a>压缩一下。</h4>
<h4>4. 或者直接上传到 <a href="https://portal.qiniu.com/signin" target="_blank">七牛云</a></h4>