<h1>上传规范</h1>
<h4>1. 将你的所有文件统一放到以学号(如：13108319)命名的文件夹下，再进行打包。而且学号文件夹下需要有 index.html 命名的首页。</h4>
<h4>2. 打包的文件必须以 zip 为后缀，还是以学号命名。</h4>
<h4>3. 上传的时候请详细填写表单上的所有内容。一旦有内容为空则无法上传。</h4>
<h4>请注意文件的命名方式，推荐全部使用英文，以防止乱码对您的网站浏览造成影响。</h4>
<h4>请将网站的内部链接改成相对链接，以免造成错误。</h4>
