<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>如果没有收到邮件的同学请直接去登录界面修改密码。</h1>
    <img src="http://7u2ha0.com1.z0.glb.clouddn.com/reset_password.jpg"/>
    <p>进入首页请直接点击：<a href="./projects">首页</a></p>
  </div>
</div>