<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit</h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for @project, html: { multipart: true } do |f| %>
          <h4>压缩包上传：</h4>
          <%= f.input :zip, label: false, error_html: { class: 'error' } %>
        <% end %>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default"><%= link_to 'Cancel', project_path %></button>
      </div>
    </div>
  </div>
</div>




