<% content_for :head do %>
  <%= stylesheet_link_tag    'project', media: "all" %>
<% end %>

<div class="slideshow" style="height:0;margin-top:44px;overflow:hidden">
  <% @perfect.each do |per| %>
    <%= content_tag(:div, link_to(image_tag(per.image.url), project_path(per.id)), class: 'slide') %>
  <% end %>
</div>

<%= content_for :foot do %>
  <%= javascript_include_tag 'project' %>
  <script type="text/javascript">
    $('.slideshow').each( function() {
        var $slideshow = $(this);
        $slideshow.imagesLoaded( function() {
          $slideshow.skidder({
            slideClass    : '.slide',
            animationType : 'css',
            scaleSlides   : true,
            maxWidth : 1300,
            maxHeight: 500,
            paging        : true,
            autoPaging    : true,
            pagingWrapper : ".skidder-pager",
            pagingElement : ".skidder-pager-dot",
            swiping       : true,
            leftaligned   : false,
            cycle         : true,
            jumpback      : false,
            speed         : 400,
            autoplay      : true,
            autoplayResume: true,
            interval      : 3000,
            transition    : "slide",
            afterSliding  : function() {},
            afterInit     : function() {}
          });
        });
    });

    $(window).smartresize(function(){
        $('.slideshow').skidder('resize');
    });
  </script>
<% end %>